@media only screen and (min-width: 768px) {
  nav {
    padding: 0 100px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #fff;
  }

  .incon01 {
    top: 11rem;
    right: 10rem;
    font-size: 100px;
    position: absolute;
    color: #272a311c;
  }

  .incon02 {
    top: 12rem;
    right: 13rem;
    font-size: 200px;
    position: absolute;
    color: #ec53424d;
  }

  .desc-scrool {
    box-shadow: #272a31bd 1px 5px 9px;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
  }

  .nav-links {
    width: 80%;
    display: flex;
  }

  .hambager,
  .close {
    display: none;
  }

  .nav-links ul {
    display: flex;
  }

  .nav-links ul li a {
    color: #272a31;
    margin-right: 50px;
    font-size: 15px;
  }

  .nav-links ul li a:hover {
    color: #ec5242;
  }

  .importent {
    padding: 6px 20px;
    border: 3px #ec5242 solid;
    color: #ec5242;
  }

  .nav-active {
    display: none;
  }

  .links {
    font-size: 13px;
    padding-right: 200px;
    display: flex;
  }

  .links i,
  .links a {
    margin-right: 15px;
  }

  .nav-logo {
    display: block;
    padding: 10px;
    width: 155px;
  }

  .home {
    background-image: linear-gradient(rgba(235, 235, 235, 0.856), rgb(230, 230, 230)), url("img/home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 0 130px;
  }

  .home-containte h1 {
    font-weight: 900;
    margin-top: 15%;
    font-size: 50px;
  }

  .home-containte p {
    margin-top: 30px;
    padding: 20px 10px;
    width: 50%;
  }

  .cause-containt {
    width: 70%;
    display: flex;
    margin: 60px auto;
  }

  .cause {
    border: rgba(255, 255, 255, 0.137) 1px solid;
    margin: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .cause:hover {
    background-color: rgba(255, 255, 255, 0.192);
    border: #d3d3d3 1px solid;
  }

  .cause i {
    width: 100%;
    padding: 7px;
    font-size: 35px;
  }

  .cause h4 {
    width: 100%;
    padding: 5px;
  }

  .cause p {
    font-size: 13px;
    width: 100%;
    padding: 5px 18px;
  }

  .program h3 {
    color: #d3d3d380;
    font-size: 30px;
    padding-bottom: 20px;
  }

  .program a {
    font-size: 15px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ec5242;
    border: #ec5242 1px solid;
    padding: 20px 10px;
  }

  .program a:hover {
    background-color: #ec534213;
    color: #d3d3d3;
    border: #d3d3d3 1px solid;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }

  .speakers h3 {
    color: #272a31a9;
    font-size: 30px;
    padding: 40px 0;
  }

  .speakers .image01 {
    background-image: url('img/speaker01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speakers .image02 {
    background-image: url('img/speaker02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speakers .image03 {
    background-image: url('img/speaker03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speakers .image04 {
    background-image: url('img/speaker04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speakers .image05 {
    background-image: url('img/speaker05.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speakers .image06 {
    background-image: url('img/speaker06.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 35%;
    height: 120px;
  }

  .speaker-data {
    width: 48%;
    padding: 30px;
  }

  .speaker {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #d3d3d3;
  }

  .speaker-data:nth-child(n+3) {
    display: block;
  }

  .speakers .more {
    display: none;
  }

  .partener h3 {
    color: #d3d3d380;
    font-size: 30px;
    padding: 40px 0;
  }

  .partener {
    padding: 0 100px;
  }

  .partener-link {
    margin: 40px auto;
  }

  .part-name h4 {
    font-size: 25px;
  }

  .part-name {
    text-align: center;
  }

  .footer {
    display: flex;
    width: 80%;
    margin: 3rem auto;
  }

  .footer .large {
    width: 100%;
  }

  footer img {
    width: 60%;
    padding: 0 30px;
  }

  .contact h4 {
    font-size: 20px;
  }

  footer .foot-logo {
    width: 50%;
  }

  footer .foot-logo p {
    display: none;
  }

  .large {
    display: block;
    font-size: 16px;
  }

  .contact {
    width: 100%;
  }

  .mail a {
    margin: 10px 0;
    font-size: 15px;
  }

  .home-containte {
    padding-top: 10%;
  }

  .home-about {
    padding: 90px 200px;
  }

  .home-about .home-containte .phrase {
    width: 60%;
    margin: 20px auto;
  }

  .historique {
    padding: 2.5rem 15rem;
  }

  .historique img {
    width: 50%;
    height: 10rem;
    margin: 90px auto;
  }

  .historique h2 {
    margin-bottom: 30px;
    width: 70%;
    color: #ec5242;
    font-size: 30px;
  }

  .winers {
    width: 70%;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
  }

  .winer01 {
    width: 45%;
  }

  .winer02 {
    width: 45%;
  }
}
